[submodule "content/themes/casper"]
	path = content/themes/casper
	url = git://github.com/TryGhost/Casper.git
[submodule "content/themes/vapor"]
	path = content/themes/vapor
	url = git://github.com/sethlilly/Vapor.git
